@import url(./__text/contacts__text.css);
@import url(./__map/contacts__map.css);

.contacts {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    font-weight: bold;
}

@media (min-width: 320px) and (max-width: 768px) {
    .contacts {
        flex-direction: column;
    }
  }

  @media (min-width: 768px) {
    .contacts {
        min-height: 400px;
    }
  }