@import url(./__text/contacts__text.css);
@import url(./__map/contacts__map.css);

.contacts {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: bold;
}

@media (min-width: 320px) and (max-width: 768px) {
    .contacts {
        flex-direction: column;
    }
  }