@import url(./blocks/header/header.css);
@import url(./blocks/navbar/navbar.css);
@import url(./blocks/contacts/contacts.css);
@import url(./blocks/insta/insta.css);

@import url(./blocks/start/start.css);
@import url(./blocks/footer/footer.css);

*  {
  box-sizing: border-box;
  border: 1px solid red;
  }

body {
  font-family: Arial, Helvetica, sans-serif;
}





/*-----------Products----------*/

.row {
  display: flex;
  padding-bottom: 20px;
  height: 200px;
  grid-row-gap: 10px;
  font-size: 12px;
}

/* Create two equal columns that sit next to each other */
.column-photo {
  flex: 40%;
  padding: 10px;
  column-gap: 40px;
  background-color: #fffef1;
  border: 0.1px solid #ffd7af;


}

.column-description {
  flex: 40%;
  padding: 10px;
  background-color: #fffef1;
  border: 0.1px solid #ffd7af;

}

.column-price {
  flex: 20%;
  padding: 10px;
  background-color: #fffef1;
  border: 0.01px solid #ffd7af;
  text-align: right;
}








