.contacts__map {
  position: relative;
  max-width: 400px;
  margin-left: 40px;
  margin-right: auto;
  overflow: hidden;
}
  @media (min-width: 320px) and (max-width: 768px) {
    .contacts__map {
      width: 100%;
      margin-left: auto;
    }
  }