@import url(./__item/navbar__item.css);
@import url(./__item/navbar__item_active.css);

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #f5e1b8;
  }

@media (min-width: 320px) and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}
