
  .contacts__text {
    margin-left: auto;
    margin-right: 30px;
    text-align: center;
    color: #6e580e;

    font-family: 'Roboto Slab', Georgia, serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    /* padding-top: 30px; */
    /* margin-bottom: 20px; */
  }

  @media (min-width: 320px) and (max-width: 768px) {
    .contacts__text {
        margin-left: auto;
        margin-right: auto;
    }
  }