
.footer__text {
    text-align: center;
    left: auto;
    right: auto;
    color: #6e580e;

    font-family: Roboto, Georgia, serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}