@import url(./__text/footer__text.css);

.footer {
    width: 100%;
    align-content: center;
    background-color: #f5e1b8;
    color: #6e580e;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;

    font-size: 12px;
  }