
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    background-color: #f5e1b8;
    color: #6e580e;
    text-align: center;

    line-height: 30px;
  }