.insta__logo {
    background-image: url(../../images/instagram-icon.png);
    width: 20px;
    /* margin-top: 0; */
    /* margin-bottom: 0; */
    /* height: 20px; */
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    margin-right: 10px;
}